# Docker build files
Dockerfile
.dockerignore
docker-compose*

# Git
.git
.gitignore

# Environment
env/
Env/
Venv/
venv/

# Test Directory
test/

# Media Files
**/*.mp3

# Cache directories
**/*cache*/
**/*.pyc

# Visual Studio Code
.vscode/

# Visual Studio
.vs/

# Github
.github/

# particular files
README.md
timer.py
token*
*.log
settings.json
poker/
data/
audio/
precompiled-bin/