# Docker build files
Dockerfile
.dockerignore

# Git
.git
.gitignore

# Environment
env/
Env/
Venv/
venv/

# Test Directory
test/

# Media Files
**/*.mp3

# Cache directories
**/*cache*/
**/*.pyc

# Visual Studio Code
.vscode/

# particular files
README.md
timer.py
token*
poker/
